nav {
  background: rgb(219 219 219 / 30%);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}
nav a.active {
  /* background: var(--color-bg); */
  color: var(--color-white);
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 600px) {
  nav {
    background: rgb(219 219 219 / 30%);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 50;
    position: fixed;
    left: 36%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
