.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

  :root {
    --swiper-theme-color: #ffffff !important;
}
  

.swiper-wrapper {
  position: relative;
  width: 20% !important;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.mySwiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 19px 0 0 0!important;
  z-index: 1;
  height: 375px !important;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}


.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
  display: inline-block;
  border-radius: 50%;
  background: #f1f1f1 !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}